<div class="container">
    <div class="row">
        <div class="col l8 offset-l2 s12">
            <div class="card">
                <div class="card-image">
                    <img src="/images/Harms2.jpg">
                </div>
                <div class="card-content">
                    <h3>I'm afriad you missed us this time!</h3>
                    <h5>Keep an eye on this page!</h5>
                </div>
            </div>
        </div>
    </div>
</div>