<div class="row">
  <form class="col l6 s12 offset-l3" action="/" method="post" t>
    <div class="card-panel">
      <blockquote class="harmonics2">Please prepare the verse and chorus (or equivalent) of a song of your choice!</blockquote>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" name="firstName" type="text" required class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="lastName" required class="validate">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s12">
          <input id="email" placeholder="e.g. cm740" name="email" required type="text" class="validate">
          <label for="email">Exeter Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select name="day" id="day">
            <option value="" disabled selected>Choose a day</option>
            <option value="Sunday">Sunday 22nd</option>
            <option value="Monday">Monday 23rd</option>
            <option value="Tuesday">Tuesday 24th</option>
          </select>
          <label>Day</label>
        </div>
        <div class="input-field col s6">
          <select name="time" disabled id="time">
            <option value="" disabled selected>Choose a time</option>

          </select>
          <label>Time</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light harmonics" type="submit" name="action">Send
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>