<div class="corner">
    <img src="images/Harmonics.png" height="50px" alt="">
</div>
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-image">
                    <img src="/images/Harms2.jpg">
                </div>
                <div class="card-content">
                    <h3>Thanks, {{name}}!</h3>
                    <h5>See you on {{day}} at {{time}}!</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/";
  }, 3000)
</script>