.corner{
  /* margin-left: 315px; */
  margin-top: 15px;
  text-align: center;
}
.data:hover{
  background-color: lightblue;
  cursor: pointer;
}
blockquote{
  margin-bottom: 0px;
  margin-top: 0px;
}
html{
  background-color: #0057A7;
}
.harmonics{
  background-color: #0057A7;
}
.harmonics2{
  border-color: #0057A7;
}